/* Strona */
body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
  background:#f0f0f0;
  font-family:Arial, sans-serif;
  font-size:20px;
}

/* Kontener */
.login-box{
  background:#fff;
  padding:40px;
  border-radius:12px;
  box-shadow:0 0 15px rgba(0,0,0,.3);
  width:400px;
  text-align:center;
  box-sizing:border-box;
}

/* Pola */
input[type="text"],
input[type="password"]{
  width:100%;
  padding:15px;
  margin:12px 0;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:18px;
  box-sizing:border-box;
  transition:all .2s ease;
}


/* Przycisk */
input[type="submit"]{
  width:100%;
  padding:15px;
  background:#007BFF;
  color:#fff;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
  font-size:20px;
  transition:background-color .2s ease, transform .05s ease;
}
input[type="submit"]:hover{ background:#0056b3; }
input[type="submit"]:active{ transform:scale(0.99); }

/* Nagłówek */
h1{ margin-bottom:25px; color:#333; font-size:28px; }
