body {
    color: #3c3c3c;
    font-family: "Montserrat",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.mainHeader > .content {
    transition: .35s ease-out;
}
.content{
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}
.mainLogo{

}
table, th, td {
    border: 1px solid black;
}
