#registerForm {
    position:relative;
    background:#fff;
    padding:40px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.3);
    width:250px;
    text-align:center;
    box-sizing:border-box;
    top:20px;

}

